<h4 class="center-align">Genre Index</h4>

<table class="striped table-responsive">
  <% @genres.each do |genre| %>
    <tr>
      <td>
        <%= link_to genre.title, genre_path(genre) %>
      </td>
    </tr>
  <% end %>
</table>
