<h4 class="center-align"><%= @genre.title %></h4>

<% if @genre.shows.empty? %>
  <p class="center-align">There are currently no shows listed in this genre.</p>
<% else %>
  <ul class="collection small-container">
    <% @genre.shows.each do |show| %>
      <%= link_to show.title, show_path(show), class: "collection-item" %>
    <% end %>
  </ul>
<% end %>
