<h4 class="center-align"><%= @genre.title %></h4>
<ul class="collection with-header small-container">
  <li class="collection-header"><h6>Shows in this Genre</h6></li>
  <% @genre.shows.each do |show| %>
    <%= link_to show.title, show_path(show), class: "collection-item" %>
  <% end %>
</ul>
