<div id="most-rated-shows">
  <h6>Most Active Shows</h6>
  <% @most_active_shows.each do |show| %>
    <p>
      <%= show.title %> (<%= show.year %>) - <%= show.total_ratings %> user ratings
    </p>
  <% end %>
</div>
