<div id="most-rated-shows">
  <h6>Most Rated Shows</h6>
  <% @most_rated_shows.each do |show| %>
    <p>
      <%= link_to show.title, show_path(show) %> (<%= show.year %>) - <%= show.total_ratings %> user ratings
    </p>
  <% end %>
</div>
