<h1>All Shows</h1>

<ul>
  <% @shows.each do |show| %>
    <li>
      <%= link_to show.title, admin_show_path(show) %> |
      <%= link_to 'Edit', edit_admin_show_path(show), id: "edit-show-#{show.id}" %> |
      <%=
          link_to 'Delete',
          admin_show_path(show),
          id: "destroy-show-#{show.id}",
          method: :delete,
          data: confirm_destroy(show.title)
      %>
    </li>
  <% end %>
</ul>
