<h3 class="center-align"><%= @show.title %></h3>
<h5 class="center-align">
  <%= link_to 'Edit', edit_admin_show_path(@show) %>
  <%= link_to 'Delete', admin_show_path(@show), method: :delete, data: confirm_destroy(@show.title) %>
</h5>
