select {
  display: block;
  margin-bottom: 10px;
}

.poster-img {
  max-height: 525px;
}

.table-fit {
  width: 1px;
}

.small-container {
  width: 40%;
  margin: auto;
}

#genre-box {
  width: 350px;
  height: 200px;
}
